<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aaa.mapper.ExpressMapper">
    <select id="expressList" parameterType="map" resultType="map">
        SELECT * FROM express
        <where> 1=1
            <if test="expnum!=null and expnum!='' ">
                and expnum =#{expnum}
            </if>
        </where>
        LIMIT #{begin},#{end}
    </select >
    <select id="selectCount"  parameterType="map" resultType="int">
        SELECT COUNT(expnum) FROM express
        <where> 1=1
            <if test="expnum!=null and expnum!='' ">
                and expnum =#{expnum}
            </if>
        </where>
    </select>

    <select id="updateSelect" parameterType="com.aaa.entity.Express" resultType="com.aaa.entity.Express">
        SELECT * FROM express WHERE expnum=#{expnum}
    </select>
    <update id="update" parameterType="com.aaa.entity.Express">
        update express set recphone=#{recphone},recprovince=#{recprovince},reccity=#{reccity},reccounty=#{reccounty},recdetailaddress=#{recdetailaddress} where expnum=#{expnum}
    </update>
</mapper>
