<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aaa.mapper.OfferTypeMapper">
    <select id="offerList" parameterType="map" resultType="map">
        select * from offertype
    </select>
    <select id="updateselect" parameterType="com.aaa.entity.Offertype" resultType="com.aaa.entity.Offertype">
        select * from offertype where offtyid=#{offtyid}
    </select>
    <update id="update" parameterType="com.aaa.entity.Offertype">
        update offertype set offerprice=#{offerprice},offerremark=#{offerremark} where offtyid=#{offtyid}
    </update>
</mapper>
