<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aaa.mapper.TuserTwoMapper">
<select id="selTruename" resultType="String" parameterType="com.aaa.entity.WstaffdetailsVO">
    select true_name truename from t_user where user_name=#{username}
</select>

<select id="selBraname" resultType="String" parameterType="com.aaa.entity.WstaffdetailsVO">
    select braname from branch where braprincipal=#{truename}
</select>
    <select id="selBranameTwo" resultType="com.aaa.entity.WstaffdetailsVO" parameterType="com.aaa.entity.WstaffdetailsVO">
    select braname from branch where braprincipal=#{truename}
</select>

<select id="findUser"  parameterType="map" resultType="map">
    select * from (select staid,staphone,staaddress,staidcard,stapic1,stapic2,b.braname braname,b.bracode bracode,t.true_name truename,t.id id
    from staffdetails s,branch b,t_user t
    <where> s.braid=b.braid  and s.id=t.id and b.braname='河南省新乡市延津县小店镇网点'
        <if test="truename != null">
            and t.true_name like concat('%',concat(#{truename},'%'))
        </if>

    </where>


    ) m LIMIT #{begin},#{end}
</select>

    <select id="selectCount" parameterType="map" resultType="int">

        select count(staid)
        from staffdetails s,branch b,t_user t
        where s.braid=b.braid  and s.id=t.id and b.braname=#{braname}


    </select>
    <!--网点id-->

    <select id="branchId" resultType="int" parameterType="com.aaa.entity.WstaffdetailsVO">
        select braid from branch where braname=#{braname}
    </select>

    <!--员工id-->
    <select id="userId" resultType="int" parameterType="com.aaa.entity.WstaffdetailsVO">
        select id from t_user where user_name=#{username}
    </select>
    <!--员工账号密码-->
    <insert id="useresInsertTwo" parameterType="com.aaa.entity.WstaffdetailsVO">
        insert into t_user(true_name,user_name,password) values (#{truename},#{username},#{password})
    </insert>
    <!--员工详情-->
    <insert id="useresInsert" parameterType="com.aaa.entity.WstaffdetailsVO">
        insert into staffdetails(staphone,staaddress,staidcard,braid,id) values (#{staphone},#{staaddress},#{staidcard},#{braid},#{id})
    </insert>

    <!--删除员工-->
    <delete id="delUser" parameterType="com.aaa.entity.WstaffdetailsVO">
      delete from staffdetails where id=#{id}
    </delete>
    <delete id="delUserTwo" parameterType="com.aaa.entity.WstaffdetailsVO">
      delete from t_user where id=#{id}
    </delete>

    <!--修改员工-->
    <update id="editUser" parameterType="com.aaa.entity.WstaffdetailsVO">
        UPDATE staffdetails SET staphone=#{staphone},staaddress=#{staaddress},staidcard=#{staidcard} where id=#{id}
    </update>
    <update id="editUserTwo" parameterType="com.aaa.entity.WstaffdetailsVO">
        UPDATE t_user set password=#{password},true_name=#{truename},user_name=#{username}  where id=#{id}
    </update>

    <select id="selUser" resultType="com.aaa.entity.WstaffdetailsVO" parameterType="com.aaa.entity.WstaffdetailsVO">
        select staid,staphone,staaddress,staidcard,stapic1,stapic2,b.braname braname,b.bracode bracode,t.true_name truename,t.id id,user_name username,password
        from staffdetails s,branch b,t_user t
        where s.braid=b.braid  and s.id=t.id and s.id=#{id}
    </select>
</mapper>
