<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aaa.mapper.WexpressMapper">
    <select id="findExpress" resultType="map" parameterType="map">

        select
          expid
          ,expnum
          ,custrank
          ,b.braname braname
          ,sender
          ,sendphone
          ,sendidcard
          ,sendprovince
          ,sendcity
          ,sendcounty
          ,senddetailaddress
          ,recipient
          ,recphone
          ,recprovince
          ,reccity
          ,reccounty
          ,recdetailaddress
          ,itemtype
          ,itemweight
          ,offerprice
          ,offerprices
          ,paytype
          ,exptype
          ,expremark
          ,expprice
          ,gogalprice
          ,exptime
          ,Expstate
          ,t.true_name truename

          from express e,t_user t,branch b
          <where> e.braid=b.braid and e.id=t.id and Expstate=3
              <if test="expnum != null">
                  and expnum=#{expnum}
              </if>
          </where>
        LIMIT #{begin},#{end}
    </select>
    <select id="selAll" resultType="com.aaa.entity.Wexpress" parameterType="com.aaa.entity.Wexpress">
          select
          expid
          ,expnum
          ,custrank
          ,b.braname braname
          ,sender
          ,sendphone
          ,sendidcard
          ,sendprovince
          ,sendcity
          ,sendcounty
          ,senddetailaddress
          ,recipient
          ,recphone
          ,recprovince
          ,reccity
          ,reccounty
          ,recdetailaddress
          ,itemtype
          ,itemweight
          ,offerprice
          ,offerprices
          ,paytype
          ,exptype
          ,expremark
          ,expprice
          ,gogalprice
          ,exptime
          ,Expstate
          ,t.true_name truename

          from express e,t_user t,branch b where e.braid=b.braid and e.id=t.id and expid=#{expid}
    </select>


</mapper>