<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aaa.mapper.WexpresstypeMapper">
    <select id="findItem" resultType="map" parameterType="map">
        SELECT exptypeid,exptype,exptime from expresstype LIMIT #{begin},#{end}
    </select>
    <insert id="insertItem" parameterType="com.aaa.entity.Wexpresstype">
        insert into expresstype(exptype,exptime) values(#{exptype},#{exptime})
    </insert>
    <delete id="delItem" parameterType="com.aaa.entity.Wexpresstype">
        delete from expresstype where exptypeid=#{exptypeid}
    </delete>
</mapper>