<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aaa.mapper.WitemtypeMapper">
    <select id="findItem" resultType="map" parameterType="map">
        select itemid,itemtype,itemtime from itemtype LIMIT #{begin},#{end}
    </select>
    <insert id="insertItem" parameterType="com.aaa.entity.Witemtype">
        insert into itemtype(itemtype,itemtime) values(#{itemtype},#{itemtime})
    </insert>
    <delete id="delItem" parameterType="com.aaa.entity.Witemtype">
        delete from itemtype where itemid=#{itemid}
    </delete>
</mapper>