<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aaa.mapper.WproblemtypeMapper">
    <select id="findProblem" resultType="map" parameterType="map">
        select proid,protype,pronode,protime from problemtype LIMIT #{begin},#{end}
    </select>
    <insert id="insertProblem" parameterType="com.aaa.entity.Wproblemtype">
        insert into problemtype(protype,pronode,protime) values(#{protype},#{pronode},#{protime})
    </insert>
    <delete id="delProblem" parameterType="com.aaa.entity.Wproblemtype">
        delete from problemtype where proid=#{proid}
    </delete>
</mapper>