<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aaa.mapper.WtranstypeMapper">
    <select id="findTrans" resultType="map" parameterType="map">
        select transid,transtype,transtime from transtype LIMIT #{begin},#{end}
    </select>
    <insert id="insertTrans" parameterType="com.aaa.entity.Wtranstype">
        insert into transtype(transtype,transtime) values(#{transtype},#{transtime})
    </insert>
    <delete id="delTrans" parameterType="com.aaa.entity.Wtranstype">
        delete from transtype where transid=#{transid}
    </delete>
</mapper>