<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aaa.mapper.WvehicleMapper">
    <select id="selTruename" resultType="String" parameterType="com.aaa.entity.WstaffdetailsVO">
    select true_name truename from t_user where user_name=#{username}
</select>

    <select id="selBraname" resultType="String" parameterType="com.aaa.entity.WstaffdetailsVO">
    select braname from branch where braprincipal=#{truename}
</select>
    <select id="selBranameTwo" resultType="com.aaa.entity.WstaffdetailsVO" parameterType="com.aaa.entity.WstaffdetailsVO">
    select braname from branch where braprincipal=#{truename}
</select>
    <!--查询所有车辆信息-->
    <select id="findCar" resultType="map" parameterType="map">
      select *  from (select vehid,vehids,vehnum,vehmodal,t.transtype typename,vehtunnage,vehilo,vehdirver,vehphone,vehtime,vehnode,vehstate,b.braname braname
      from vehicle v,branch b,transtype t
      <where> v.transid=t.transid and v.braid=b.braid and b.braname='河南省新乡市延津县小店镇网点'
      <if test="vehdirver != null">
          and vehdirver like concat('%',concat(#{vehdirver},'%'))
      </if>

      </where>
        ) m LIMIT #{begin},#{end}
    </select>
    <!--总条数-->
    <select id="selectCount" resultType="int" parameterType="map">
        select count(vehid)
      from vehicle v,branch b,transtype t
      where v.transid=t.transid and v.braid=b.braid and b.braname=#{braname}
    </select>
    <!--根据网点名称查询网点id-->
    <select id="selBraid" resultType="int" parameterType="com.aaa.entity.WvehicleVO">
        select braid from branch where braname=#{braname}
    </select>
    <!--查询车辆类型-->
    <select id="selType" resultType="com.aaa.entity.WvehicleVO">
      select transid,transtype typename from transtype

    </select>
    <!--添加车辆信息-->
    <insert id="insertCar" parameterType="com.aaa.entity.WvehicleVO">
        insert into vehicle(vehids,vehnum,vehmodal,transid,vehtunnage,vehilo,vehdirver,vehphone,vehtime,vehnode,vehstate,braid)
        VALUES (#{vehids},#{vehnum},#{vehmodal},#{transid},#{vehtunnage},#{vehilo},#{vehdirver},#{vehphone},#{vehtime},#{vehnode},#{vehstate},#{braid})
    </insert>
    <!--删除车辆-->
    <delete id="delCar" parameterType="com.aaa.entity.WvehicleVO">
        delete from vehicle where vehid=#{vehid}
    </delete>
    <!--根据id查询车辆信息-->
    <select id="selCar" resultType="com.aaa.entity.WvehicleVO" parameterType="com.aaa.entity.WvehicleVO">
        select vehid,vehids,vehnum,vehmodal,t.transtype typename,vehtunnage,vehilo,vehdirver,vehphone,vehtime,vehnode,vehstate,b.braname braname
        from vehicle v,branch b,transtype t
        where v.transid=t.transid and v.braid=b.braid and vehid=#{vehid}
    </select>
    <!--根据id修改车辆信息-->
    <update id="updateCar" parameterType="com.aaa.entity.WvehicleVO">
    UPDATE vehicle set
    vehids=#{vehids},vehnum=#{vehnum},vehmodal=#{vehmodal},vehtunnage=#{vehtunnage},vehilo=#{vehilo},vehdirver=#{vehdirver},vehphone=#{vehphone},vehnode=#{vehnode} where vehid=#{vehid}

    </update>
</mapper>